#banner-up-tag{
  background-color:black;
  img{
    width:100%; 
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 1rem;
  }
}

#sidenav-overlay{
  z-index:auto;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif;
}

nav{
  background-color:transparent;
  ul{
    a:hover{
      background-color:transparent;
    }
  }
  .button-collapse{
    float:right !important;
  }

  #nav-mobile{
    background-color:black;
    padding-top:8rem;
    li, a{
      color:white;
      text-align:center;
    }
    li{
      position:relative;
      &:hover{
        &:before{
          content:'';
          position:absolute;
          width: 60%;
          height: 35px;
          -webkit-transform: skew(-25deg);
             -moz-transform: skew(-25deg);
               -o-transform: skew(-25deg);
          background: red;
          z-index: 1;
          top:16%;
          left:21%;
        }
      }
    }

    &:before{
      background-image: url(https://cloudpy.co/wp-content/themes/beisbolplay/images/logo.png);
      background-size: contain;
      background-repeat:no-repeat;
      display: inline-block;
      width: 16rem; 
      height: 2rem;
      background-size: contain;
      background-position: center;
      content:"";
      position:absolute;
      top:10%;
      left:50%;
      transform: translate(-50%, -50%);
    }

  }

  .brand-logo{
    width:55%;
    height:100%;

    &:before{
      background-image: url(https://cloudpy.co/wp-content/themes/beisbolplay/images/logo.png);
      background-size: contain;
      background-repeat:no-repeat;
      display: inline-block;
      width: 16rem; 
      height: 2rem;
      content:"";
      
    }
    @media #{$medium-and-down}{
      &:before{
        width: 10rem; 
        height: 1rem;
        background-size: contain;
        background-position: center;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
      }
    }

    @media #{$large-and-up}{
      position:relative;
      background-size: contain;
      width: 14rem;
      height: 2rem;
    }
  }
}

.social-ico{
  font-size:18px;
  font-weight: bold;
  color:white;
  svg{
    margin:0.5rem;
  }
  a{
    color:white;
  }
}

.lighten-1{
  position:relative;
  z-index:995;
  @media #{$small-and-down} {
    display:none;
  }

  .row{
    height:2.5rem;
    margin-bottom:0rem;
  }
}

.btn-more{
  a{
    background-color: red;
    color: #ffffff;
    width: 25%;
    padding:0.4rem 1rem;
    text-transform: uppercase;
    font-size:12px;
    @media #{$medium-and-down} {
      width: 35%;
    }
    @media #{$large-and-up} {
      width: 35%;
    }
  }
  p{
    background-color: red;
    color: #ffffff;
    width: 27%;
    min-width: 27%;
    padding:0.4rem 1rem;
    text-transform: uppercase;
    font-size:12px; 
    @media #{$medium-and-down} {
      width: 35%;
    }
    @media #{$large-and-up} {
      width: 85px;
      max-width:85px;
      min-width:85px;
    }
  }
}

.detail{
//   .cont-nav{
//     @media #{$large-and-up}{
//       &:after{
//         content:'';
//         position:absolute;
//         bottom:6px;
//         right:0;
//         width:55%;
//         height: 0px;
//         border-bottom: 70px solid #0c2d54;
//         border-left: 35px solid transparent;
//         z-index: 1;
//       }
//     }
//   }
  &.category{
    .cont-miga{
      &.category-miga{
        position:relative;
        font-family: 'Oswald', sans-serif;
        p{
          font-size:20px;
          z-index:5;
          position:relative;
          color:white;
          font-family: 'Oswald', sans-serif;
          font-style: italic;
          &:nth-child(1){
            border-right:0px solid #ffffff;
          }
        }
        &:before{
          content:'';
          position:absolute;
          width: 60%;
          height: 35px;
          -webkit-transform: skew(-25deg);
             -moz-transform: skew(-25deg);
               -o-transform: skew(-25deg);
          background: red;
          z-index: 1;
          top:- 5%;
          left:-7%;
        }
      }
    }
  }
  @media #{$small-and-down} {
    .sidebar{
      min-height:0rem;
      display:none;
    }
  }
}

.cont-nav{
  position:relative;
  height: 100%;
  a{
    color:white;
  }
  .lighten-nav{
    background-color: rgba(0, 0, 0, 0.3);
    z-index:999;
    position:relative;
    margin-bottom: 1.7rem;
    font-family: 'Oswald', sans-serif;
    .cont-logo{
      #logo-container{
        width: 41.66667%;
        display:flex;
        justify-content:center;
        align-items:center;
        height:100%;
        img{
          width:55%;
        }
      }
    }
    .row{
      margin-bottom:0rem;
    }
    ul{
      > div {
        display:flex;
        flex-direction:row;
      }
      a{
        font-size:1rem;
        padding:0 10px;
        position:relative;
        z-index:999;
      }
      @media #{$large-and-up}{
        li{
          position:relative;
          &:hover{
            &:before{
              content:'';
              position:absolute;
              width: 100%;
              height: 35px;
              -webkit-transform: skew(-25deg);
                 -moz-transform: skew(-25deg);
                   -o-transform: skew(-25deg);
              background: red;
              z-index: 1;
              top:22%;
            }
          }
        }
      }
    }
    @media #{$small-and-down} {
      margin-bottom:0rem;
      background-color: #0c2d54;
      > .nav-wrapper{
        z-index:999;
      }
      .button-collapse{
        margin-right:0px;
        height:54px;
        i{
          font-size: 32px;
          transform: translateY(-4%);
          position:relative;
          z-index:999;
        }
      }

      .cont-logo{
        #logo-container{
          img{
            width:100%;
          }
        }
      }

      &:before{
        content:'';
        background-color: rgba(0, 0, 0, 0.3);
        z-index:99;
        position:absolute;
        width:100%;
        height:35px;
        top:50%;
        left:0px;
        transform: translateY(-50%);
      }
    }
    @media #{$medium-and-down} {
      background-color: #0c2d54;
      margin-bottom:0rem; 
      > .nav-wrapper{
        z-index:999;
      }
      .button-collapse{
        margin-right:0px;
        i{
          font-size: 42px;
          transform: translateY(-4%);
          position:relative;
          z-index:999;
        }
      }

      .cont-logo{
        #logo-container{
          img{
            width:80%;
          }
        }
      }

      &:before{
        content:'';
        background-color: rgba(0, 0, 0, 0.3);
        z-index:99;
        position:absolute;
        width:100%;
        height:45px;
        top:50%;
        left:0px;
        transform: translateY(-50%);
      }
    }
    @media #{$large-and-up}{
      margin-bottom:1.5rem;
    }
  }
  @media #{$large-and-up}{
    &:before{
      content:'';
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height: 0px;
      //border-right: 60px solid transparent;
      border-top: 125px solid #0c2d54;
      z-index: 1;
    }
  }

  @media #{$extra-large-and-up}{
    &:before{
      content:'';
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height: 0px;
      //border-right: 60px solid transparent;
      border-top: 125px solid #0c2d54;
      z-index: 1;
    }
  }
  .cont-ban{
    top:0;
    left:0;
    height: 35.2rem;
    border-bottom: 5px solid #d90000;
    @media #{$small-and-down} {
      height:8.9rem;
      border-bottom: 0px solid #d90000;
    }

    .slider-wrapper{
      position: absolute;
      top:0;
      left:0;
      height: 43.8rem;
      width:100%;
      @media #{$small-and-down}{
        height:11rem;
        margin-top:4rem;
      }
      @media #{$medium-and-up} {
        height:41.75rem;
      }

      @media #{$large-and-up} {
        height: 43.8rem;
      }
      .slider{
        display:flex;
        flex-direction:row;
      }
      .slider-item{
        display:flex;
        flex-direction:column;
        justify-content:flex-end;
        width:100%;
      }
      .slider, .slider-item{
        margin:0px;
        padding:0px;
        @media #{$small-and-down}{
          height:11rem;
          margin-top:0rem;
        }
        @media #{$medium-and-up} {
          height:41.75rem;
        }

        @media #{$large-and-up} {
          height: 43.8rem;
        }
      }
    }
    .buttons-wrapper{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      position:absolute;
      z-index:99;
      top:50%;
      left:0%;
      transform: translateY(-50%);
      width:100%;
      padding:0rem 1rem;
      @media #{$small-and-down}{
        top: 98%;
      }
      span{
        font-size:50px;
        color:white;
        @media #{$small-and-down}{
          font-size:24px;
        }
        @media #{$medium-and-down}{
          font-size:24px;
        }
      }
      button{
        opacity:0;
        &:focus{
          opacity:0;
          outline: none;
          background-color: transparent;
          border:none;
          span{
            opacity:0.6;
          }
        }
        &:hover{
          opacity:1;
          outline: none;
          background-color: transparent;
          border:none;
          span{
            opacity:0.6;
          }
        }
      }
      @media #{$medium-and-down} {
        button{
          opacity:1;
          outline: none;
          background-color: transparent;
          border:none;
          span{
            opacity:0.6;
            &:hover{
              opacity:1;
            }
          }
        }
      }
    }
    .cont-img{
      position: absolute;
      top:0;
      left:0;
      height: 43.8rem;
      width:100%;
      @media #{$small-and-down}{
        height:11rem;
        margin-top:0rem;
      }
      @media #{$medium-and-up} {
        height:41.75rem;
      }

      @media #{$large-and-up} {
        height: 43.8rem;
      }
      
      img{
        width:100%;
        height: 100%;
        object-fit: cover;
      }
      &:before{
        content:'';
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.85+100 */
        background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        position:absolute;
        top:0rem;
        left:0rem;
        width:100%;
        height:100%;
        z-index:99;
      }
    }
    .text-cont{
      position: relative;
      z-index:99;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-content: center;
      flex-direction: column;
      height: 26rem;
      text-align: right;
      color:white;
      h2{
        font-size: 30px;  
        text-transform: uppercase;
      }

      @media #{$small-and-down} {
        height: 8rem;
        h2{
          font-size: 20px;
        }
        .btn-more{
          z-index:9;
          position:relative;
          a{
            z-index:9;
            position:relative;
          }
        }
        p{
          display:none;
        }
      }
    }
    @media #{$medium-and-up} { 
      &:hover{
        .buttons-wrapper{
          button{
            opacity:0.6;
            outline: none; 
            background-color: transparent;
            border:none;
            span{
              opacity:1;
            }
            &:focus{
              opacity:1;
              outline: none;
              background-color: transparent;
              border:none;
              span{
                opacity:1;
              }
            }
            &:hover{
              opacity:1;
              outline: none;
              background-color: transparent;
              border:none;
              span{
                opacity:1;
              }
            }
          }
        }
      }
    }
  }
}

.cont-media{
  background-color: #090e1f;
  img{
    width: 100%;
    object-fit: fill;
  }
  h3{
    font-size: 1.5rem;
  }
  
  .cont-items-media{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction:row;

    .cont-item{
      display:flex;
      flex-direction:column;
      align-items:stretch;
      min-height:28rem;
      @media #{$extra-large-and-up} {
        min-height:31.5rem;
      }
    }

    .item{
      display:flex;
      flex-direction: column;
      position:relative;
      height:14rem;
      margin-top:1rem;
      flex-shrink:1;

      span{
        font-family: 'icomoon';
      }

      @media #{$medium-and-up} {
        height:13rem;
      }

      @media #{$large-and-up} {
        height:11.5rem;
      }

      @media #{$extra-large-and-up} {
        height:15rem;
      }
      .text-item{
        position:absolute;
        left:0rem;
        bottom:0rem;
        color:#ffffff;
        padding:2rem;
        width:100%;
      }
      .img-item{
        position:relative;
        display:flex;
        &:before{
          content:'';
          position: absolute;
          top:0rem;
          left:0rem;
          width: 100%;
          height: 100%;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#070102+50,000000+85&0+0,0.75+80,0.75+100 */
          background: -moz-linear-gradient(top, rgba(7,1,2,0) 0%, rgba(7,1,2,0.47) 50%, rgba(1,0,0,0.75) 80%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(7,1,2,0) 0%,rgba(7,1,2,0.47) 50%,rgba(1,0,0,0.75) 80%,rgba(0,0,0,0.75) 85%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(7,1,2,0) 0%,rgba(7,1,2,0.47) 50%,rgba(1,0,0,0.75) 80%,rgba(0,0,0,0.75) 85%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00070102', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
        }
      }
      .img-item-play{
        position:relative;
        display:flex;
        &:before{
          content:'';
          position: absolute;
          top:0rem;
          left:0rem;
          width: 100%;
          height: 100%;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#070102+50,000000+85&0+0,0.75+80,0.75+100 */
          background: -moz-linear-gradient(top, rgba(7,1,2,0) 0%, rgba(7,1,2,0.47) 50%, rgba(1,0,0,0.75) 80%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(7,1,2,0) 0%,rgba(7,1,2,0.47) 50%,rgba(1,0,0,0.75) 80%,rgba(0,0,0,0.75) 85%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(7,1,2,0) 0%,rgba(7,1,2,0.47) 50%,rgba(1,0,0,0.75) 80%,rgba(0,0,0,0.75) 85%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00070102', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
        }
        &:after {
          content: "\e901";
          color: #00a8ef;
          position:absolute;
          bottom:0%;
          right:5%;
          transform:translate(-50%, -50%);
          font-family:'icomoon';
          color:white;
          font-size:25px;
        }
      }
    }

    .item-play{
      display:flex;
      flex-direction: column;
      position:relative;
      margin-top:1rem;
      justify-content: flex-start;
      max-height:31rem;
      @media #{$medium-and-down} {
        max-height:27rem;
      }

      @media #{$large-and-up} {
        max-height:24rem;
      }

      @media #{$extra-large-and-up} {
        max-height:31.5rem;
      }

      .text-item{
        background-color: #222222;
        color:#ffffff;
        padding:2rem;
        width:100%;
      }
      .img-item{
        position:relative;
        display:flex;
        
        &:before{
          content:'';
          position: absolute;
          top:0rem;
          left:0rem;
          width: 100%;
          height: 100%;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#070102+50,000000+85&0+0,0.75+80,0.75+100 */
          background: -moz-linear-gradient(top, rgba(7,1,2,0) 0%, rgba(7,1,2,0.47) 50%, rgba(1,0,0,0.75) 80%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(7,1,2,0) 0%,rgba(7,1,2,0.47) 50%,rgba(1,0,0,0.75) 80%,rgba(0,0,0,0.75) 85%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(7,1,2,0) 0%,rgba(7,1,2,0.47) 50%,rgba(1,0,0,0.75) 80%,rgba(0,0,0,0.75) 85%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00070102', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
        }
      }
      
      .img-item-play{
        position:relative;
        display:flex;
        @media #{$medium-and-up} {
          min-height:13rem;
        }
        @media #{$extra-large-and-up} {
          min-height:20rem;
        }
        img{
          height: 100%;
          @media #{$medium-and-up} {
            max-height:12rem;
          }
          @media #{$extra-large-and-up} {
            max-height:20rem;
          }
        }
        &:before{
          content:'';
          position: absolute;
          top:0rem;
          left:0rem;
          width: 100%;
          height: 100%;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#070102+50,000000+85&0+0,0.75+80,0.75+100 */
          background: -moz-linear-gradient(top, rgba(7,1,2,0) 0%, rgba(7,1,2,0.47) 50%, rgba(1,0,0,0.75) 80%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(7,1,2,0) 0%,rgba(7,1,2,0.47) 50%,rgba(1,0,0,0.75) 80%,rgba(0,0,0,0.75) 85%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(7,1,2,0) 0%,rgba(7,1,2,0.47) 50%,rgba(1,0,0,0.75) 80%,rgba(0,0,0,0.75) 85%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00070102', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
        }
        &:after {
          content: "\e901";
          color: #00a8ef;
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
          font-family:'icomoon';
          color:white;
          font-size:80px;
        }
      }
    }
  }
}

.cont-post{
  > .container{
    display:flex;
    flex-wrap: wrap;
    min-height:19rem;
    > .row{
        @media #{$small-and-down} {
          display:flex;
          flex-direction:column;
          > div:nth-child(1){
            order:2;  
          }
        }
    }
  }
  .container{
    display:flex;
    flex-wrap: wrap;
    .item-post{
      border-bottom:1px solid #dddddd;
      padding:2rem 0rem;
      &:last-child{
        border-bottom:0px solid #dddddd;
      }
      .row{
        margin:0rem;
      }
      .item-post-img{
        position:relative;
        a{
          color:black;
        }
        img{
          width: 100%;
        }
      }

      .item-post-img-play{
        position:relative;
        a{
          color:black;
        }
        img{
          width: 100%;
        }
        &:after {
          content: "\e901";
          color: #00a8ef;
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
          font-family:'icomoon';
          color:white;
          font-size:40px;
        }
      }
      .item-post-date{
        display: flex;
        font-size:12px;
        font-family: 'Oswald', sans-serif;
        p{
          background-color: red;
          color:white;
          padding:5px 10px;
          margin:0rem;
        }
      }
      .item-post-title{
        h3{
          font-size: 1.2rem;
          padding:0.5rem 0rem 0.5rem 0rem;
          margin-top:0px;
          text-transform: uppercase;
        }
        a{
          color:black;
        }
      }
      .item-post-cont{
        font-size: 1rem;
        text-align: justify;
        p{
          line-height: 17px;
        }
      }
      .date-cont{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        .date{
          display: flex;
          font-size: 12px;
          font-family: 'Oswald', sans-serif;
          p{
            background-color: red;
            color: white;
            padding: 5px 10px;
            margin: 0rem;
          }
        }
      }
      .social{
        >ul{
          >div{
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            a{
              background-color:#41619e;
              color:white;
              padding:0.5rem 0.8rem;
              margin:0rem 0.1rem;
              border-radius:5px;
              font-size:18px;
              span{
                color:white;
              }
            }
            .twitter{
              background-color:#46b2f1;
            }

            .google{
              background-color:#eb463f;
            }

            .whatzap{
              background-color:#0db70d;
            }

            .email{
              background-color:#0971ff;
            }
          }
        } 
      }
    }

    .tagtwo{
      img{
        width: 100%;
      }
      .container{
        flex-direction:row;
        align-content:center;
        justify-content:center;
        margin:0rem;
        padding:0rem;
        width:100%;
      }
    }

    .columns{
      margin:1.5rem 0rem;
      .header-col{
        background-color: #0c2d54;
        color:white;
        height: 5rem;
        display:flex;
        justify-content: center;
        align-self: center;
        position:relative;
        overflow: hidden;
        h3{
          font-size: 2rem;
          text-transform: uppercase;
        }
        &:before{
          content:'';
          position:absolute;
          top:0;
          left:0;
          width:22%;
          height: 0px;
          border-right: 37px solid transparent;
          border-top: 80px solid #d90000;
          z-index: 1;
        }
      }
      .list-col{
        margin-top: 1rem;
        .item-post-col{
          .item-post-img{
            
            position: relative;
            img{
              width:100%;
              min-height:70px;
              @media #{$small-and-down} {
                width: 100px;
                height: 100px;
                min-height:100px;
              }

              @media #{$large-and-up} {
                min-height:5rem;
              }

              @media #{$extra-large-and-up}  {
                min-height:5.6rem;
              }

              border-radius: 50%;
            }
          }
          .item-post-title{
            h3{
              font-size: 1.2rem;
              padding:0rem 0rem 0.5rem 0rem;
              text-transform: uppercase;
              margin: 0rem;
            }
          }
          .item-post-cont{
            font-size: 1rem;
            text-align: justify;
            p{
              line-height: 17px;
            }
          }
        }
      }
    }

    .cont-lector{
      background-color: #eeeeee;
      margin:1.5rem 0rem;
      padding:1rem 2rem;
      .title-cont{
        text-transform: uppercase;
        position:relative;
        margin-bottom: 2rem;

        h3{
          text-transform: uppercase;
          padding-left: 17%;
          font-size: 24px;
          position:relative;
          &:before {
            font-family:'icomoon';
            content: "\e900";
            color: #052a57;
            position:absolute;
            top:50%;
            left:0%;
            transform: translateY(-45%);
          }
        }
      }
      .list-lector-cont{
        .item-lector{
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          a{
            color:black;
          }
          .item-img{
            display: flex;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .item-text{
            background-color: white;
            padding:1rem;
            h4{
              font-size: 14px;
              margin:0rem;
            }
            
          }
        }
      }
    }

    .tagthree{
      margin-bottom:3rem;
      img{
        width: 100%;
      }
      .container{
        flex-direction:row;
        align-content:center;
        justify-content:center;
        margin:0rem;
        padding:0rem;
        width:100%;
      }
    }
  }
}

.page-footer{
  background-color: #1e272f;
  .container{
    display: flex;
    flex-direction: column;
    @media #{$medium-and-up}{
      .row{
        &:nth-child(2){
          border-top:1px solid #2C3A43;
        }
      }
    }
    .cont-logo{
      ul{
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        li{
          color:#72706e;
          margin-left: 0rem;
          a{
            color:#72706e;
          }
          &:nth-child(2){
           text-align: left;
           margin-left: 7px;
          }
        }
      }
      img{
        display:flex;
        justify-content: center;
        align-content: center;
        width: 100%;
      }
      li{
        color:#656564;
      }
      @media #{$small-and-down} {
        border-bottom:1px solid #2C3A43;
        a{
          display:flex;
          justify-content:center;
          align-content:center;
          flex-direction:row;
          padding:1rem 0rem;
          img{
            width:50%;
            height:100%;
          }
        }
      }
    }

    .cont-logo-ter{
      ul{
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        li{
          color:#72706e;
          margin-left: 0rem;
          text-align:center;
          a{
            color:#72706e;
            font-size:10px;
            text-align:center;
          }
          &:nth-child(1){
            border-right: 1px solid #72706e;
          }
          &:nth-child(2){
           text-align: left;
           margin-left: 7px;
           @media #{$small-and-down} {
            text-align: center;
           }
          }
        }
      }
      img{
        display:flex;
        justify-content: center;
        align-content: center;
        width: 100%;
      }
      li{
        color:#656564;
      }
    }

    @media #{$small-and-down} {
      .social-ico{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-content:center;
        padding:1rem 2rem;
      }
    }
  }
}

.item-post-content{
  img{
    max-width:100%;
    height:auto;
  }
  .wrapper-player{
    width: 100%;
      max-width: 900px;
  }
  .player{
    position: relative;
      padding-bottom: 56%;
      padding-top: 0px;
      height: 0px;
  }
  .player iframe{
    position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
  }

  .rel-data{
    .title-rel{
      font-family: 'Oswald', sans-serif;
      h3{
        position:relative;
        font-size:25px;
        padding:0rem 2rem;
        &:before {
            font-family:'icomoon';
            content: "\e900";
            color: red;
            position:absolute;
            top:50%;
            left:0%;
            transform: translateY(-45%);
          }
      }
    }
    .cont-item{
      a{
        color:black;
      }
      .item{
        .text-item{
          h3{
            font-family: 'Oswald', sans-serif;
            font-size:12px;
          }
        }
      }
    }
  } 
}

.cont-ban-detail{
  top:0;
  left:0;
  border-bottom: 5px solid #d90000;
  display:flex;
  height:1px;
  justify-content:flex-end;
  width:100%;
  // @media #{$small-and-down}{
  //   height:5.1rem;
  //   margin-top:4rem;
  // }
  // @media #{$medium-and-up} {
  //   height:11.8rem;
  // }

  // @media #{$large-and-up} {
  //   height: 22.4rem;
  // }
  .flow-text{
    align-self:flex-end;
  }
  .cont-img{
    position: absolute;
    top:0;
    left:0;
    height: 31rem;
    @media #{$small-and-down}{
      height:8.7rem;
      margin-top:4rem;
    }
    @media #{$medium-and-up} {
      height:18rem;
    }

    @media #{$large-and-up} {
      height: 31rem;
    }
    img{
      width:100%;
      height: 100%;
      object-fit: cover;
    }
    &:before{
      content:'';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.85+100 */
      background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      position:absolute;
      top:0rem;
      left:0rem;
      width:100%;
      height:100%;
      z-index:99;
    }
  }
  .text-cont{
    position: relative;
    z-index:99;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    text-align: right;
    color:white;
    h2{
      font-size: 30px;  
      text-transform: uppercase;
    }

    @media #{$small-and-down} {
      height: 8rem;
      h2{
        font-size: 20px;
      }
      .btn-more{
        z-index:9;
        position:relative;
        a{
          z-index:9;
          position:relative;
        }
      }
      p{
        display:none;
      }
    }

    .cont-miga{
      display:flex;
      flex-direction:row;
      justify-content:flex-end;
      align-content:flex-end;
      p{
        font-size:10px;
        padding:0rem 1rem;
        &:nth-child(1){
          border-right:1px solid #ffffff;
        }
      }
    }
  }
}

.cont-post-description{
  margin-top:2.7rem;
  > .container{
    display:flex;
    flex-wrap: wrap;
    > .row{
        width:100%;
        @media #{$small-and-down} {
          display:flex;
          flex-direction:column;
          > div:nth-child(1){
            order:2;  
          }
        }
    }
  }
  .cont-miga{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-content:flex-start;
    p{
      font-size:10px;
      padding:0rem 1rem;
      &:nth-child(1){
        border-right:1px solid red;
      }
    }
  }
  .container{
    display:flex;
    flex-wrap: wrap;
    .item-post-content{
      padding:2rem 0rem;
      &:last-child{
        border-bottom:0px solid #dddddd;
      }
      .title{
        font-weight:bold;
        @extend h3;
        padding: 0rem 0rem 1rem 0rem;
        border-bottom:1px solid #dddddd;
      }
      .row{
        margin:0rem;
      }
      .item-post-img{
        a{
          color:black;
        }
        img{
          width: 100%;
        }
      }
      .item-post-date{
        display: flex;
        font-size:12px;
        font-family: 'Oswald', sans-serif;
        p{
          background-color: red;
          color:white;
          padding:5px 10px;
          margin:0rem;
        }
      }
      .item-post-title{
        h3{
          font-size: 1.2rem;
          padding:0.5rem 0rem 0.5rem 0rem;
          text-transform: uppercase;
        }
        a{
          color:black;
        }
      }
      .item-post-cont{
        font-size: 1rem;
        text-align: justify;
        p{
          line-height: 17px;
        }
      }
      .date-cont{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        .date{
          display: flex;
          font-size: 12px;
          font-family: 'Oswald', sans-serif;
          margin: 1.5rem 0rem;
          p{
            background-color: red;
            color: white;
            padding: 5px 10px;
            margin: 0rem;
          }
        }   
      }
      .social{
        >ul{
          >div{
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            a{
              background-color:#41619e;
              color:white;
              padding:0.5rem 0.8rem;
              margin:0rem 0.1rem;
              border-radius:5px;
              font-size:18px;
              span{
                color:white;
              }
            }
            .twitter{
              background-color:#46b2f1;
            }

            .google{
              background-color:#eb463f;
            }

            .whatzap{
              background-color:#0db70d;
            }

            .email{
              background-color:#0971ff;
            }
          }
        }
        
      }
    }

    .tagtwo{
      img{
        width: 100%;
      }
      .container{
        flex-direction:row;
        align-content:center;
        justify-content:center;
        margin:0rem;
        padding:0rem;
        width:100%;
      }
    }

    .columns{
      .header-col{
        background-color: #0c2d54;
        color:white;
        height: 5rem;
        display:flex;
        justify-content: center;
        align-self: center;
        position:relative;
        overflow: hidden;
        h3{
          font-size: 2rem;
          text-transform: uppercase;
        }
        &:before{
          content:'';
          position:absolute;
          top:0;
          left:0;
          width:22%;
          height: 0px;
          border-right: 37px solid transparent;
          border-top: 80px solid #d90000;
          z-index: 1;
        }
      }
      .list-col{
        margin-top: 1rem;
        .item-post-col{
          .item-post-img{
            
            position: relative;
            img{
              width:100%;
              min-height:70px;
              @media #{$small-and-down} {
                width: 100px;
                height: 100px;
                min-height:100px;
              }

              @media #{$large-and-up} {
                min-height:5rem;
              }

              @media #{$extra-large-and-up}  {
                min-height:5.6rem;
              }

              border-radius: 50%;
            }
          }
          .item-post-title{
            h3{
              font-size: 1.2rem;
              padding:0.5rem 0rem;
              text-transform: uppercase;
              margin: 0rem;
            }
          }
          .item-post-cont{
            font-size: 1rem;
            text-align: justify;
            p{
              line-height: 17px;
            }
          }
        }
      }
    }

    .cont-lector{
      background-color: #eeeeee;
      margin:3rem 0rem;
      padding:3rem 2rem;
      .title-cont{
        text-transform: uppercase;
        position:relative;
        margin-bottom: 2rem;
        h3{
          text-transform: uppercase;
          margin-left: 10%;
          font-size: 24px;
        }
      }
      .list-lector-cont{
        .item-lector{
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          a{
            color:black;
          }
          .item-img{
            display: flex;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .item-text{
            background-color: white;
            padding:1rem;
            h4{
              font-size: 14px;
              margin:0rem;
            }
            
          }
        }
      }
    }

    .tagthree{
      margin-bottom:3rem;
      img{
        width: 100%;
      }
      .container{
        flex-direction:row;
        align-content:center;
        justify-content:center;
        margin:0rem;
        padding:0rem;
        width:100%;
      }
    }
  }
}

.sindata {
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  font-size:18px;
  span{
    color:red;
    font-weight:bold;
  }
}

.sidebar{
  position:relative;
  min-height:143rem !important;
  
  @media #{$medium-and-down} {
    min-height:154rem !important;
  }

  @media #{$large-and-up} {
    min-height:152rem !important;
  }
  .sidebar__inner{
    position:absolute;
    top:0;
    left:0;
    .tagtwo{
      img{
        width: 100%;
      }
      .container{
        flex-direction:row;
        align-content:center;
        justify-content:center;
        margin:0rem;
        padding:0rem;
        width:100%;
      }
    }
    .tagthree{
      margin-bottom:3rem;
      img{
        width: 100%;
      }
      .container{
        flex-direction:row;
        align-content:center;
        justify-content:center;
        margin:0rem;
        padding:0rem;
        width:100%;
      }
    }
  }
}

